<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title>CineMatch</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

<header class="header">
    <h1 class="logo">🎬 CineMatch</h1>
    <input id="searchInput" class="search-bar" type="text" placeholder="Αναζήτηση ταινιών...">
</header>

<section class="hero-section">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1 class="hero-title">Καλώς ήρθες στο <span class="accent">CineMatch</span></h1>
        <p class="hero-subtitle">Ανακάλυψε το κινηματογραφικό σου σύμπαν.</p>

        <button class="hero-btn" onclick="scrollToMovies()">Start Exploring</button>
    </div>
</section>

<section class="category" id="movies">
    <h2>🔥 Ταινίες</h2>
    <div class="movies-row" id="results"></div>
</section>

<script>
    function scrollToMovies() {
        document.getElementById("movies").scrollIntoView({behavior: "smooth"});
    }

    const input = document.getElementById("searchInput");

    input.addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
            searchMovies(input.value);
        }
    });

    async function searchMovies(q) {
        const res = await fetch(`/tmdb/movies?query=${encodeURIComponent(q)}`);
        const data = await res.json();

        const box = document.getElementById("results");
        box.innerHTML = "";

        data.forEach(m => {
            const card = document.createElement("div");
            card.className = "movie-card";

            card.innerHTML = `
                <img class="movie-poster" src="${m.posterUrl}" alt="">
                <div class="movie-info">
                    <p class="movie-title">${m.title}</p>
                    <p class="movie-rating">${m.releaseDate}</p>
                </div>
            `;

            box.appendChild(card);
        });
    }
</script>

</body>
</html>
